/**
 ** Special Components for MIT Theme
 **/
 
/* login button */

.navbar #userButton,
.navbar #loginButton {
    background-repeat: none;
    border-color: transparent;
    color: #ffffff;
    text-shadow: none;
    box-shadow: none;
    font-size: 1.0em;
}

.navbar #userButton {
    background-color: #1b1b1b;
    background-image: none;
}
.navbar #loginButton {
	background-color: #1bb15c;
	background-image: none;
}

.navbar #userButton:focus, .navbar #userButton:hover,
.navbar #loginButton:focus, .navbar #loginButton:hover {
    color: #ffffff;
    background-position: 0 0;
    text-decoration: none;
    transition: none;
}

.navbar #userButton:focus, .navbar #userButton:hover {
	background-color: #000000;
}
.navbar #loginButton:focus, .navbar #loginButton:hover {
	background-color: #1bb15c;
}

.navbar #userButton:active,
.navbar #loginButton:active {
    color: #ffffff;
	background-image: none;
    box-shadow: none;
    outline: 0 none;
}

.navbar #userButton:active {
	background-color: #000;
}

.navbar #loginButton:active {
	background-color: #1bb15c;
}

.navbar #userButton .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}

 #footer {
	background-color: #1b1b1b;
	margin-top: 6em;
 }
 
 .main {
	padding-top: 90px;
 }

